export DB_HOST="gopher-eye-0.cvmequ6qg7aa.us-east-2.rds.amazonaws.com"
export DB_PORT="5432"
export DB_NAME="gopher_eye"
export DB_USER="gopher_admin"
export DB_PASSWORD='$SqVnq9Q!1E1Br5$kUofZGtS'
export GOOGLE_APPLICATION_CREDENTIALS="./creds/firebase.json"
export ENV="development"
export FRONTEND_URL="http://localhost:55555"