<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gopher_eye.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
				<key>dateExpires</key>
				<string>1/22/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>gallery_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>printing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A61CCC5EE540342CB2D1BF57EC03B3E64217C63</string>
						<key>dateExpires</key>
						<string>1/22/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>86FEXYH64A</string>
						<key>name</key>
						<string>Nicholas Padilla</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>86FEXYH64A.com.example.gopherEye</string>
				<key>com.apple.developer.team-identifier</key>
				<string>86FEXYH64A</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f0b07bc0-4078-499d-9e67-f937eb1fa693</string>
				<key>dateExpires</key>
				<string>1/22/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.gopherEye</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>86FEXYH64A</string>
				<key>name</key>
				<string>Nicholas Padilla</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
